#home{
    background-color: #ffc107;
    color: white;
}

 @media screen and (max-width: 400px) {
    #home h1{
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
 }